site_name: OpenAPI
repo_url: https://github.com/Dyalog/OpenAPI
repo_name: Dyalog/OpenAPI
copyright: Made with <a href="https://squidfunk.github.io/mkdocs-material/" target="_blank" rel="noopener"><strong>Material for MkDocs</strong></a><br/>Copyright &copy; 1982-$CURRENT_YEAR <strong><a href="https://dyalog.com" target="_blank" rel="noopener">Dyalog Limited</a></strong> (<a href="#" class="copy" onclick="navigator.clipboard.writeText(innerText);return false" title="Click to copy!">$BUILD_DATE $GIT_INFO</a>).<br/>Except where otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener"><strong>Creative Commons Attribution 4.0 International</strong></a> licence.

theme:
  logo: documentation-assets/images/dyalog-logo_white.svg
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.path
    - navigation.indexes
    - navigation.sections
    - content.tabs.link
  name: material
  font:
      text: Be Vietnam Pro
  custom_dir: docs/documentation-assets/overrides
extra_css:
  - documentation-assets/css/main.css
extra_javascript:
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra:
  generator: false

nav:
  - Home: index.md
  - Getting Started:
    - Installation: installation.md
    - Usage Guide: usage-guide.md
  - User Guide:
    - Generated Code: generated-code.md
    - Examples: examples.md
    - API Reference: api-reference.md
  - Contributing: contributing.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      pygments_lang_class: true
  - attr_list
  - abbr
  - footnotes
  - md_in_html
  - toc:
      title: On this page